<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Monsters">
        <app-monster-list></app-monster-list>
    </mat-tab>
    <mat-tab label="Equipment">
        <app-equipment-list></app-equipment-list>
    </mat-tab>
    <mat-tab label="Materials">
        <app-materials-list></app-materials-list>
    </mat-tab>
    <mat-tab label="Critters: Food">
        <app-food-list></app-food-list>
    </mat-tab>
    <mat-tab label="Critters: Non-Food">
        <app-non-food-list></app-non-food-list>
    </mat-tab>
</mat-tab-group>